.container {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.icon{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;

    opacity: 1;
}

/* ======================== Top Navbar ====================== */
.navbar {
    top: 10px;
    height: 60px;
    width: 100%;
    margin: 10px 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-title {
    font-size: 26px;
}
.view-icon {
    margin-left: 5px;
    background-color: #E5E7E9;
    border-radius: 3px;
}

/* ======================== Gender ====================== */
.gender-container {
    margin: 20px 10px 0 10px;
    flex-direction: column;
}
.genders {
    margin-top: 20px;
}
.gender {
    font-size: 17px;
    height: 40px;
    padding: 5px 20px;
    margin-right: 10px;
}

/* ======================== Category ======================= */
.categories-container,
.brands-container {
    margin: 20px 10px 0 10px;
    flex-direction: column;
}
.category-dropdown,
.brand-dropdown {
    font-size: 20px;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    padding: 10px 150px 10px 0;
    margin-top: 20px;
    background-color: #E5E7E9;
}

.brand-dropdown {
    padding: 10px 180px 10px 0;
}

/* ======================== Price ======================= */
.price-container {
    margin: 20px 10px 0 10px;
    flex-direction: column;
}
.price-title {
    margin-bottom: 30px;
}
.dual-slider {
    position: relative;
    height: 50px;
}
.slider,
.slider2 {
    position: absolute;
    margin-top: 15px;
    width: 100%;
    height: 4px;
    border: 2px solid #E5E7E9;
    border-radius: 4px;
    z-index: 10;
}
.slider2 {
    right: 60px;
    width: 60%;
    border: 2px solid #3498DB ;
    z-index: 100;
}
.point {
    position: absolute;
    right: 50px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #21618C;
    z-index: 1000;
}
.point2 {
    left: 50px;
}
.min-price,
.max-price {
    font-size: 20px;
    position: absolute;
    top: 100px;

}
.min-price {
    left: 30px;
}
.max-price {
    right: 35px;
}

/* ======================= Size ======================= */
.sizes-container {
    margin: 50px 10px 0 10px;
    flex-direction: column;

}
.sizes{
    margin: 20px 0;
    justify-content: space-between;
}
.size {
    font-size: 15px;
    padding: 0px 10px;
    height: 35px;
}

/* ===================== CTA ===================== */
.cta-container {
    margin: 20px 10px 0 10px;
    justify-content: space-between;
}
.clear,
.add {
    font-size: 25px;
    width: 44%;
    text-align: center;
    padding: 12px;
    border-radius: 10px;

}
.clear {
    background-color: #E5E7E9;
}
.add {
    color: #ffffff;
    background-color: #3498DB;
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 28px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("/common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {
    .title {
        font-size: 60px;
    }
}
